<div class="home">
    <div *ngIf="isAuth" class="logout" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
    </div>
    <div class="container">
        <div class="home__header">
            <div class="home__header-wrap">
                <p class="home__header-time">ЖҰМЫС УАҚЫТЫ: 12:00-00:00</p>
                <p class="home__header-people">Керей-Жанибек хандар 586</p>
            </div>
        </div>

        <div class="home__name">
            <div>
                <h1 class="home__title">AUYL RESTAURANT</h1>
                <p>гастрономия мен перформанс қиылысында болатын иммерсивті кеңістік</p>
            </div>
        </div>

        <div class="home__logo logo">
            <img src="../../assets/logo/logo.png" alt="logo">
        </div>
    </div>    
</div>

<div #myHeader class="header">
    <a href="/register" class="button">REGISTER</a>
    <a href="/menu" class="button">MÁ’ZIR</a>
    <a href="#" class="button">ShOLÝLAR</a>
    <mat-dialog-actions> 
        <button mat-button  class="button" (click)="openDialog()">BRONDAÝ</button> 
    </mat-dialog-actions>
</div>

<div class="temp"></div>

<div class="about">
    <div class="container">
        <div class="content">
            <h2 class="title">BIZ TÝRALY</h2>
            <p>Sáýletshіler, sýretshіler, qolónershіler, dızaınerler, prodıýserler arasyndaǵy shyǵarmashylyq yntymaqtastyqtyń nátıjesі. Bіz bіrge gastronomııa men performans qıylysynda bar ımmersıvtі keńіstіk qurdyq. Joba qonaqqa jaryqtandyrý, dybystar, atmosfera, tekstýralar, ıіster arqyly protseske "qosý" tájіrıbesіn beredі. Auyl meıramhanasynyń taǵamdary Ortalyq Azııa taǵamdary taqyrybynda avtorlyq varıatsııalardy usynady.</p>
        </div>
    </div>
</div>

<div class="food">
    <div class="container">
        <div class="food__wrap">
            <div class="carousel">
                <div class="carousel__el">
                    <img src="../../assets/home/food-img1.png" alt="food">
                </div>
                <div class="carousel__el main">
                    <img src="../../assets/home/food-img2.png" alt="food">
                </div>
                <div class="carousel__el">
                    <img src="../../assets/home/food-img3.png" alt="food">
                </div>
            </div>

            <div class="food__descr">
                <h3 class="title">ДӘСТҮР МЕН ДӘМ ТОҒЫСЫНДА</h3>
                <p>Дәмі мен дәстүрі тоғысқан қазақ асханасының тамаша әлемін зерттеңіз. Әрбір тағам Қазақстанның мәдениеті мен тарихының байлығын жеткізетін дәм мерекесі. Осы бірегей аспаздық сапардан ләззат алыңыз!</p>
            </div>
        </div>
    </div>
</div>

<div class="food">
    <div class="container">
        <div class="food__wrap">
            <div class="carousel carousel-2">
                <div class="carousel__el">
                    <img src="../../assets/home/food-img4.png" alt="food">
                </div>
                <div class="carousel__el main">
                    <img src="../../assets/home/food-img6.png" alt="food">
                </div>
                <div class="carousel__el">
                    <img src="../../assets/home/food-img5.png" alt="food">
                </div>
            </div>

            <a href="#" class="button">night yurt</a>
        </div>
    </div>
</div>

<div class="place">
    <div class="overlay"></div>
</div>

<footer>
    <a href="#" class="button">BRONDAÝ</a>
    <div class="container">
        <div class="footar__wrap">
            <div class="phone">
                <h3 class="title">BAILANYS ÚSHIN</h3>
                <p>8 7 0 5 5 8 6 7 7 1 1</p>
            </div>
    
            <div class="logo">
                <img src="../../assets/logo/logo.png" alt="logo">
            </div>
        </div>
    </div>
</footer>